
<table class="table table-hover table-inverse m-1">
<thead>
<tr>
  <th></th>
  <th>アイテム名</th>
  <th>備考</th>
  <th></th>
  <th></th>
</thead>
<% @wish_lists.each do |wish_list| %>
<tbody>


  <td><%= wish_list.genre.name %></td>
  <td><%= wish_list.item_name %></td>
  <td><%= wish_list.memo %></td>
  <td><%= link_to '編集', edit_wish_list_path(wish_list.id), class: "btn btn-success" %></td>
  <td><%= link_to "削除", wish_list_path(wish_list.id), class: "btn btn-danger", method: :delete %></td>
<% end %>
</tbody>
</table>
