<%= current_user.nick_name %>さんのほしいものリスト

<% if @wish_lists.present? %>
<%= form_with model: @wish_list, url:wish_lists_path, method: :post do |f| %>
  <h4>アイテム名</h4>
  <%= f.text_field :item_name %>
  <h4>備考</h4>
  <%= f.text_field :memo %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.select :status, PostCraft.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>

  <%= f.submit '保存' %>
<% end %>

<% @wish_lists.each do |wish_list| %>

<%= wish_list.item_name %>
<%= wish_list.genre.name %>
<%= wish_list.memo %>

<%= link_to '編集する', edit_wish_list_path(wish_list.id) %>
<%= link_to "削除", wish_list_path(wish_list.id), method: :delete %>
<% end %>

<% else %>
    保存している投稿はありません
<% end %>
