<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <% if params[:genre_id] %>
    <h3 class="title mb-2"><%= current_user.nick_name %>さんの<%= @genre.name %>のほしいものリスト(全<%= @wish_lists.total_count %>件)</h3>
   <% else %>
    <h2 class="title mb-2"><%= current_user.nick_name %>さんのほしいものリスト</h2>
   <% end %>
  </div>
  <div class="row justify-content-end">
    <%= link_to "マイページに戻る", mypage_path(current_user.id), class: "underline" %>
  </div>
 </div>

 <div class="row">
  <div class="col-md-2 m-4 p-2">
   <%= form_with model: @wish_list, url:wish_lists_path, method: :post do |f| %>

    <%= render partial: 'form',  locals: {f:f } %>

    <div class="actions">
     <%= f.submit '保存',class: "btn btn-primary"%>
    </div>

   <% end %>
 </div>

<div class="col-md-8-sm-4 m-4 offset-md-1">
 <div class="col-auto m-2"><strong>ジャンル一覧</strong>
  <% @genres.each do |genre| %>
	<button type="button" class="btn btn-outline-primary">
	<%= link_to genre.name, wish_list_path(genre_id: genre.id), method: :get %>
	</button>
	<% end %>
</div>

<% if @wish_lists.present? %>

<%= render 'table', wish_list: @wish_lists %>

<% else %>
<div class="container-fluid">
 <div class="row justify-content-center">
  <div class="cover">
   <div class="text-center">
    <h3 class="title mb-2">
     保存しているアイテムはありません
    </h3>
 <% end %>
   </div>
  </div>
 </div>
</div>

<div class="pagination justify-content-center">
 <%= paginate @wish_lists, theme: 'twitter-bootstrap-4' %>
</div>

</div>
</div>
</div>