<div class="container">
<div class="border-bottom border-info" style="padding:10px;">
<div class="row justify-content-center">
<% if params[:genre_id] %>
<h2 class="title mb-2"><%= @genre.name %>のほしいものリスト(全<%= @wish_lists.total_count %>件)</h2>
<% else %>
<h2 class="title mb-2"><%= current_user.nick_name %>さんのほしいものリスト</h2>
<% end %>
</div>
<div class="row justify-content-end">
<%= link_to "マイページに戻る", mypage_path(current_user.id), class: "underline" %>
</div>
</div>

<div class="row">
<div class="col-md-2 m-4 p-2">
<%= form_with model: @wish_list, url:wish_lists_path, method: :post do |f| %>

  <div class="form-group row">
  <div class="field">
  <h6 class="text-dark p-2 mb-0">アイテム名</h6>
  <%= f.text_field :item_name, class: 'form-control'%>
  </div>
  </div>

  <div class="form-group row">
  <div class="field">
  <h6 class="text-dark p-2 mb-0">備考</h6>
  <%= f.text_area :memo, class: 'form-control' %>
  </div>
  </div>

  <div class="form-group row">
  <div class="field">
  <h6 class="text-dark p-2 mb-0">ジャンル
  <%= f.collection_select :genre_id, Genre.all, :id, :name, class: 'form-control'%></h6>
  </div>
  </div>
  <div class="actions">
  <%= f.submit '保存',class: "btn btn-primary"%>
  </div>
  <% end %>
</div>

<div class="col-md-8-sm-4 m-4 offset-md-1">
<div class="col-auto m-2"><strong>ジャンル一覧</strong>
  <% @genres.each do |genre| %>
	<button type="button" class="btn btn-outline-primary">
	<%= link_to genre.name, wish_list_path(genre_id: genre.id), method: :get %>
	</button>
	<% end %>
	</button>
</div>


<% if @wish_lists.present? %>

<%= render 'table', wish_list: @wish_lists %>

<% else %>
<div class="container-fluid">
<div class="row justify-content-center">
<div class="cover">
<div class="text-center">
<h3 class="title mb-2">
    保存しているアイテムはありません
<% end %>
</div>
</div>
</div>
</div>

<div class="pagination justify-content-center">
<%= paginate @wish_lists, theme: 'twitter-bootstrap-4' %>
</div>

</div>