<div class="container">
<div class="border-bottom border-info" style="padding:10px;">
<div class="row justify-content-center">
<h2 class="title mb-2"><%= @genre.name %>の作品一覧 (全<%= @post_crafts.total_count %>件)</h2>
</div>
<div class="row justify-content-end">
 <%= link_to new_post_craft_path do %>
<i class="fa-solid fa-circle-plus"> 新規投稿</i>
<% end %>
</div>
<div class="row justify-content-end">
<%= link_to "作品一覧に戻る", post_crafts_path, class: "underline" %>
</div>

<div class="row justify-content-start">
 <h5 class="col-auto">ジャンル一覧
	<% @genres.each do |genre| %>
	<%= link_to genre.name, genres_path(genre_id: genre.id), method: :get %>
	<% end %>
</h5>
</div>
</div>

<% if @post_crafts.present? %>

<%= render 'public/post_crafts/index', post_crafts: @post_crafts %>

<% else %>
<div class="container-fluid">
<div class="row justify-content-center">
<div class="cover">
<div class="text-center">
<h3 class="title mb-2">
    投稿している作品はありません</h3>
 <% end %>
</div>
</div>
</div>
</div>



 <div class="pagination">
  <%= paginate @post_crafts %>
</div>

</div>