<div class="container">
<div class="border-bottom border-info" style="padding:10px;">
<div class="row justify-content-center">
<h2 class="title mb-2"><%= @genre.name %>の商品一覧 (全<%= @post_crafts.total_count %>件)</h2>
</div>
<div class="row justify-content-end">
 <%= link_to new_post_craft_path do %>
<i class="fa-solid fa-circle-plus"> 新規投稿</i>
<% end %>
</div>
<div class="row justify-content-end">
<%= link_to "作品一覧に戻る", post_crafts_path, class: "underline" %>
</div>

<div class="row justify-content-start">
 <h5 class="col-auto">ジャンル一覧
	<% @genres.each do |genre| %>
	<%= link_to genre.name, genres_path(genre_id: genre.id), method: :get %>
	<% end %>
</h5>
</div>
</div>

<% if @post_crafts.present? %>

<div class="card-group py-5">
<div class="d-flex flex-column">
<div class="row">

<% @post_crafts.each do |post_craft| %>
<div class="col-12 col-md-6 col-lg-4">
<div class="card h-100 w-100 shadow-lg">
<%= link_to post_craft_path(post_craft.id) do %>
<%= image_tag post_craft.get_image, class:"card-img-top img-fluid";%>
<% end %>

<div class="card-body">
<h4 class="card-title">
<i class="fa-solid fa-user"></i><span><%= post_craft.user.nick_name %></span><br>
<i class="fa-regular fa-flag"></i><%= post_craft.title %></h4>
<p class="card-text">
<%= post_craft.genre.name %>
<span>♥<%= post_craft.favorites.count %> | </span>
<%= link_to "#{post_craft.post_comments.count} コメント", post_craft_path(post_craft.id) %></P>
</div>
</div>
</div>

<% end %>

</div>
</div>
</div>

<% else %>
    投稿している作品はありません
 <% end %>

 <div class="pagination">
  <%= paginate @post_crafts %>
</div>

</div>