<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2">投稿アイテムコメント一覧</h2>
  </div>
 </div>

 <% if @item_list_comments.present? %>
  <div class="row justify-content-center">
   <div class="col-10 col-lg-8">
    <table class="table table-hover table-inverse m-4">
     <thead>
	    <tr>
	     <th>会員ID</th>
	     <th>ニックネーム</th>
	     <th>コメント</th>
	     <th></th>
	    </tr>
     </thead>
     <tbody>
     <% @item_list_comments.each do |item_list_comment| %>
      <tr>
       <td><%= item_list_comment.user_id %></td>
       <td><%= item_list_comment.user.nick_name %></td>
       <td><%= item_list_comment.comment %></td>
       <td><%= link_to "詳細を確認する", admin_item_list_path(item_list_comment.item_list_id), class:"btn btn-primary" %></td>
      </tr>
     </tbody>
     <% end %>
    </table>
   </div>
  </div>

 <% else %>

 <% @comment = '投稿しているコメントはありません' %>
 <%= render 'layouts/space' %>

 <% end %>

</div>
