<div class="card-group py-5">
 <% post_crafts.each do |post_craft| %>
  <div class="col-12 col-md-6 col-lg-4 mb-3">
   <div class="card h-100 w-100 mx-auto shadow-lg">

    <%= link_to post_craft_path(post_craft.id) do %>
     <%= image_tag post_craft.get_image, class:"card-img-top img-fluid";%>
    <% end %>

    <div class="card-body">
     <h4 class="card-title">
      <%= link_to mypage_path(post_craft.user_id) do %>
      <i class="fa-solid fa-user"></i><span>  <%= post_craft.user.nick_name %></span><br>
      <% end %>
      <i class="fa-regular fa-flag"></i>  <%= post_craft.title %>
     </h4>
     <p class="card-text">
      <i class="fa-solid fa-calendar"></i>  <%= post_craft.created_at.strftime('%Y/%m/%d') %><br>
      <i class="fa-solid fa-scissors"></i>  <%= post_craft.genre.name %>
      <i class="fa-solid fa-tag"></i> <%= post_craft.tag_list %><br>
      <span>♥<%= post_craft.favorites.count %> | </span>
      <%= link_to "#{post_craft.post_comments.count} コメント", post_craft_path(post_craft.id) %>
     </P>
    </div>
  </div>
 </div>
 <% end %>
</div>
