<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2">下書き一覧(全<%= @post_crafts.total_count %>件)</h2>
  </div>

  <div class="row justify-content-start">
   <%= link_to "作品投稿一覧", user_post_crafts_path %>
  </div>
  <div class="row justify-content-end">
   <%= link_to "マイページに戻る", mypage_path(current_user.id), class: "underline" %>
  </div>
 </div>

  <% if @post_crafts.present? %>

    <%= render 'index', post_crafts: @post_crafts %>

  <% else %>
  <% @comment = '下書きに保存している投稿はありません' %>
  <%= render 'layouts/space' %>

  <% end %>

  <div class="pagination justify-content-center">
   <%= paginate @post_crafts, theme: 'twitter-bootstrap-4' %>
  </div>
</div>