<h1>編集フォーム</h1>
<%= form_with model: @post_craft, url:post_craft_path(@post_craft.id), method: :patch do |f| %>
  <h4>作品画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>作品タイトル</h4>
  <%= f.text_field :title %>
  <h4>説明</h4>
  <%= f.text_area :introduction %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.select :status, PostCraft.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>


  <%= f.submit '保存' %>
<% end %>