
<%= image_tag @item_list.get_image %>
<%= link_to mypage_path(@item_list.user.id) do %>
<%= image_tag @item_list.user.get_profile_image(50,50) %>
<% end %>
<%= @item_list.user.nick_name %>
<%= @item_list.created_at.strftime('%Y/%m/%d') %></p>
<%= @item_list.item_name %>
<%= @item_list.memo %>

 ♥<%= @item_list.item_favorites.count %> いいね

<div>
  <p>コメント件数：<%= @item_list.item_list_comments.count %></p>
  <% @item_list.item_list_comments.each do |item_list_comment| %>
    <p><%= image_tag item_list_comment.user.get_profile_image(100,100) %></p>
    <%= item_list_comment.user.nick_name %>
    <%= item_list_comment.created_at.strftime('%Y/%m/%d') %><%= item_list_comment.comment %>
  <% end %>
</div>
