<h1>アイテム編集フォーム</h1>
<%= form_with model: @item_list, url:item_list_path(@item_list.id), method: :patch do |f| %>
  <h4>アイテム画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>アイテム名</h4>
  <%= f.text_field :item_name %>
  <h4>備考</h4>
  <%= f.text_area :memo %>

  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name %>

  <%= f.submit '投稿' %>
<% end %>