
<%= image_tag @item_list.get_image(200,200) %>
<%= link_to mypage_path(@item_list.user.id) do %>
<%= image_tag @item_list.user.get_profile_image(50,50) %>
<% end %>
<%= @item_list.user.nick_name %>
<%= @item_list.created_at.strftime('%Y/%m/%d') %></p>
<%= @item_list.item_name %>
<%= @item_list.memo %>
<%= @item_list.genre.name %>

<% if @item_list.user == current_user %>
<%= link_to "編集", edit_item_list_path %>
<%= link_to "削除", item_list_path(@item_list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>

  <% if @item_list.item_favorited_by?(current_user) %>
      <%= link_to item_list_item_favorites_path(@item_list), method: :delete do %>
        ♥<%= @item_list.item_favorites.count %> いいね
      <% end %>
    <% else %>
      <%= link_to item_list_item_favorites_path(@item_list), method: :post do %>
        ♡<%= @item_list.item_favorites.count %> いいね
      <% end %>
  <% end %>
<div>
  <p>コメント件数：<%= @item_list.item_list_comments.count %></p>
  <% @item_list.item_list_comments.each do |item_list_comment| %>
    <p><%= image_tag item_list_comment.user.get_profile_image(100,100) %></p>
    <%= item_list_comment.user.nick_name %>
    <%= item_list_comment.created_at.strftime('%Y/%m/%d') %><%= item_list_comment.comment %>
    <% if item_list_comment.user == current_user %>
      <%= link_to "削除", item_list_item_list_comment_path(item_list_comment.item_list, item_list_comment), method: :delete %>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_with model: [@item_list, @item_list_comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>