<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2">アイテム詳細</h2>
  </div>
  <div class="row justify-content-end">
   <%= link_to "アイテム一覧に戻る", item_lists_path, class: "underline" %>
  </div>
 </div>
 <div class="card w-70 mx-auto m-5 shadow-lg">
  <%= image_tag @item_list.get_image, class:"card-img-top img-fluid" %>
  <div class="card-body">
   <div class="row">
    <div class="col-3 col-md-3 col-lg-3 mx-auto">
     <%= link_to mypage_path(@item_list.user.id) do %>
      <%= image_tag @item_list.user.get_profile_image(120,120),class:"card-img img-fluid mt-3 rounded-circle"; %>
     <% end %>

     <h3 class="card-title">
      <i class="fa-solid fa-user"></i><span>  <%= @item_list.user.nick_name %></span></h3>
    </div>
    <div class="col-10 col-md-8 col-lg-6 mx-auto">
    <h4 class="card-title">

     <% if @item_list.item_favorited_by?(current_user) %>
        <%= link_to item_list_item_favorites_path(@item_list), method: :delete do %>
         <span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;">
         <i class="fa-solid fa-heart"></i><%= @item_list.item_favorites.count %> いいね</span>
        <% end %>
     <% else %>
        <%= link_to item_list_item_favorites_path(@item_list), method: :post do %>
         <i class="fa-regular fa-heart"></i><%= @item_list.item_favorites.count %> いいね
        <% end %>
     <% end %>
    </h4>

     <h4 class="card-title">
     <i class="fa-regular fa-flag"></i>  <%= @item_list.item_name %></h4>
     <p class="card-text">
     <i class="fa-solid fa-calendar"></i>  <%= @item_list.created_at.strftime('%Y/%m/%d') %></p>
     <h5 class="card-text">
     <i class="fa-solid fa-feather-pointed"></i> 備考: </h5>
     <h6 class="card-text"><%= h(@item_list.memo).gsub(/\n|\r|\r\n/, "<br>").html_safe %></h6>
     <p class="card-text">
     <i class="fa-solid fa-scissors"></i> ジャンル: <%= @item_list.genre.name %></p>

    <% if @item_list.user.owns?(current_user) %>
     <i class="fa-solid fa-pen-to-square"></i><%= link_to "編集", edit_item_list_path %>
     <i class="fa-solid fa-trash"></i><%= link_to "削除", item_list_path(@item_list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
    <% end %>
    <br>
    <i class="fa-regular fa-comment"></i> コメント件数：<%= @item_list.item_list_comments.count %></p>
   </div>
  </div>
 </div>
</div>

<%= render 'public/item_lists/post_comment', item_lists: @item_lists %>

</div>
