会員一覧



<% @users.each do |user| %>
<%= link_to admin_user_path(user.id) do %>
<%= user.nick_name %>
<% end %>
♥<%= user.favorites.count %>
コメント数<%= user.post_comments.count %>
<%= user.is_deleted %>
<% if user.is_deleted? %>
		<span class="text-active">有効</span>
	<% else %>
		<span class="text-invalid">退会済み</span>
	<% end %>
<% end %>
