<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2"><%= @user.nick_name %>さんの会員詳細</div>
  </div>

  <div class="row">
   <div class="col-lg-4">
    <div class="card m-3 p-2 shadow-lg">
     <%= image_tag @user.get_profile_image(300,300),class:"card-img-top img-fluid" %>
    <div class="card-body">
    <h2 class="card-title"><%= @user.nick_name %></h2>
     <h5 class="card-text"><%= @user.email %></h5>
     <h5 class="card-text"><%= @user.introduction %></h5>
    </div>
   </div>

    <p class="text m-3 text-right">
     <%= link_to "プロフィール編集", edit_admin_user_path(@user.id) %></p>
    </div>

    <div class="col-lg-7 m-3 offset-md-1 m-1">
     <div class="list-group">
      <li class="list-group-item">
       <h4 class="list-title">作品投稿一覧</h4>
        <div class="pagination justify-content-center">
          <%= paginate @post_crafts, theme: 'twitter-bootstrap-4' %>
        </div>
       <div class="row">
        <% @post_crafts.each do |post_craft| %>
         <div class="col-4 mb-1">
         <div class="card h-100">
          <%= link_to admin_post_craft_path(post_craft.id) do %>
           <%= image_tag post_craft.get_image, class:"card-img-top img-fluid";%>
          <% end %>
         </div>
         </div>
        <% end %>
        </div>
      </li>
    </div>

    <div class="list-group">
     <li class="list-group-item">
      <h4 class="list-title">アイテム一覧</h4>
       <div class="pagination justify-content-center">
        <%= paginate @post_crafts, theme: 'twitter-bootstrap-4' %>
       </div>
       <div class="row">
        <% @item_lists.each do |item_list| %>
        <div class="col-4 mb-1">
         <div class="card h-100">
          <%= link_to admin_item_lists_path(item_list.id) do %>
           <%= image_tag item_list.get_image, class:"card-img-top img-fluid";%>
          <% end %>
         </div>
        </div>
        <% end %>
       </div>
     </li>
    </div>
  </div>
 </div>
</div>