<div class="container">
 <div class="row justify-content-center">
  <div class="col-md-5 col-sm-10 m-3">
   <h4 class="text-dark p-4 mb-0">プロフィール編集</h4>

   <%= form_with model: @user, url:update_information_path, method: :patch do |f| %>

   <%= render partial: 'form',  locals: {f:f } %>

  <div class="actions">
   <%= f.submit "変更を保存", class: 'btn btn-success' %>
  </div>

  <br>

  <div class="actions">
   <%= link_to "退会する", confirm_unsubscribe_path, class: 'btn btn-danger' %>
  </div>

  <% end %>

  </br>
  <p><%= link_to "マイページに戻る", mypage_path(current_user.id), class: "underline" %></p>

  </div>
 </div>
</div>