
いいねした投稿一覧

<% if @favorites.present? %>

<% @favorites.each do |favorite| %>

 ♥<%= @favorites.count %> いいね
  <%= image_tag favorite.post_craft.get_image(200,200) %>
  <%= link_to post_craft_path(favorite.post_craft_id) do %>
  <%= image_tag favorite.post_craft.user.get_profile_image(50,50) %>
  <% end %>
  <%= favorite.post_craft.user.nick_name %>
  <%= favorite.post_craft.created_at.strftime('%Y/%m/%d') %></p>
  <%= favorite.post_craft.title %>
  <%= favorite.post_craft.introduction %>
  <% end %>

 <% else %>
    いいねした投稿はありません
 <% end %>

