<%= @user.nick_name %>さんのマイページ

登録情報

<div>
  <h3><%= @user.nick_name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>

  <%= @user.introduction %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_information_path(@user) %></p>
  <% end %>
</div>


アイテムリスト

<% if @user == current_user %>

<%= link_to "作品投稿一覧", user_post_crafts_path %>


<%= link_to "新規投稿", new_post_craft_path %>
<%= link_to "いいねした作品一覧", favorites_path %>
<%= link_to "いいねしたユーザー一覧", favorite_users_path %>

<%= link_to "欲しいものリスト", wish_lists_path %>

<%= link_to "下書き一覧", post_crafts_confirm_path %>

<% else %>
<%= link_to "作品投稿一覧", index_user_path(@user.id) %>
<% end %>