<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2">
    <%= @user.nick_name %>さんの作品一覧(全<%= @post_crafts.total_count %>件)</h2>
  </div>
 </div>

 <% if @post_crafts.present? %>

  <%= render 'public/post_crafts/index', post_crafts: @post_crafts %>

 <% else %>

  <% @comment = '投稿している作品はありません' %>
  <%= render 'layouts/space' %>

 <% end %>

<div class="pagination justify-content-center">
 <%= paginate @post_crafts, theme: 'twitter-bootstrap-4' %>
</div>
</div>


