<div class="container">
 <div class="border-bottom border-info" style="padding:10px;">
  <div class="row justify-content-center">
   <h2 class="title mb-2">
    <%= @user.nick_name %>さんのアイテム一覧(全<%= @item_lists.total_count %>件)</h2>
  </div>
 </div>

 <% if @item_lists.present? %>

  <%= render 'public/item_lists/index', item_lists: @item_lists %>

 <% else %>

  <% @comment = '保存しているアイテムはありません' %>
  <%= render 'layouts/space' %>

 <% end %>

<div class="pagination justify-content-center">
 <%= paginate @item_lists, theme: 'twitter-bootstrap-4' %>
</div>
</div>

