<!DOCTYPE html>
<html>
  <head>
    <title>Handicrafts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header>
    <% if user_signed_in? %>
     <li>
       <%= link_to "マイページ", mypage_path(current_user.id) %>
     </li>
    <li><%= link_to "作品一覧", post_crafts_path %></li>
    <li>アイテムリスト</li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>


    <% elsif admin_signed_in? %>

    　<li> "作品一覧" </li>
      <li>会員一覧</li>
      <li>アイテム一覧</li>
      <li>
        <%= link_to "ジャンル一覧", admin_genres_path %></li>
      <li>
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
      </li>

    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
    <% end %>


　　<%= flash[:notice] %>


  </header>






    <%= yield %>
  </body>
</html>
